body{
    background-color: #121212;
    color: #A5D7E8;
    font-size: 20px;
}

#app{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.modal{
    width: 305px;
}

#modal-title{
    padding: 16px;
}

#header{
    margin-right: auto;
    padding: 16px;
}

.question-container{
    display: flex; ;
    align-items: center;
    height: 50px;
    width: 250px;
    border: 2px solid #576CBC;
    padding: 10px;
    margin: 16px;
}

#questions {
    display: flex;
    width: 305px;
}

#question-group{
    padding: 16px;
}

.question-content{
    padding: 16px;
}

#visible-question{
    height: 175px;
}

.choose-question{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}

#next-question{
    margin-left: auto;
}

.progress{
    width: 150px; 
    margin-left: auto;
}

#progress-bar{
    width: 273px;
}

